{% extends "base.html" %}
{% load static %}

{% block custom_scrips %}
    <script src="{% static 'shopping.js' %}"></script>
{% endblock %}

{% block body %}

    <div class="container-fluid h-90-overflow p-3">
        <div class="row mb-5">
            <div class="col-lg-6">
                <!-- Shopping List -->
                <ul id="list-items" class="list-group">
                    {% for item in shopping_list %}
                        <li id="item-{{ item.id }}" class="list-group-item">

                            {% if item.quantity %}
                                {{ item.quantity }}x
                            {% endif %}
                            {{ item.name }}

                            <a id="remove-{{ item.id }}" class="btn btn-danger btn-sm float-end">
                                <i class="bi bi-x-lg"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="input-section fixed-bottom bg-light">
        <form class="row p-1">
            {% csrf_token %}
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="item-value" placeholder="item"
                           name="name" autofocus="autofocus">
                    <label for="item-value">Item Name</label>
                </div>
            </div>
            <div class="col col-auto px-3 d-flex justify-content-center align-items-center">
                <button id="add-btn" class="btn btn-lg btn-primary">Add</button>
            </div>
        </form>
    </div>

{% endblock %}
