{% extends "base.html" %}

{% block body %}
    <div class="container-fluid h-90-overflow p-3">
        <div class="row mb-5">
            <div class="col-lg-6">
                <ul id="list-items" class="list-group">
                    {% for recipe in recipes %}
                        {# view for large displays (desktop) #}
                        <div class="d-none d-md-block">
                            <li id="item-{{ recipe.id }}"
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="text-decoration-none" href="{% url 'recipe_detail' pk=recipe.id %}">
                                    <span class="recipe-name">{{ recipe.name|default_if_none:"none" }}</span>
                                </a>
                                <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 ms-3">
                                    {% for tag in recipe.tags.all %}
                                        <span class="badge"
                                              style="background-color: {{ tag.color }}; color: {{ tag.text_color }}">
                                  {{ tag.name }}
                              </span>
                                    {% endfor %}
                                </div>
                            </li>
                        </div>
                        {# view for small displays (mobile) #}
                        <div class="d-md-none col">
                            <li id="item-{{ recipe.id }}"
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col">
                                    <div class="row">
                                        <a class="text-decoration-none" href="{% url 'recipe_detail' pk=recipe.id %}">
                                            <span class="recipe-name">{{ recipe.name|default_if_none:"none" }}</span>
                                        </a>
                                    </div>
                                    <div class="row">
                                        <div>
                                            {% for tag in recipe.tags.all %}
                                                <span class="badge"
                                                      style="background-color: {{ tag.color }}; color: {{ tag.text_color }}">
                                  {{ tag.name }}
                              </span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}